<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>

<header>
<% include partials/navbar %>
</header>

    <div class="container-fluid">
      <div class="starter-template">
				<h1><%= title %></h1>
				<p>Welcome to <%= title %></p>
      </div>
      
      <% if(dataTable) { %>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table class="table table-striped ">
						<thead class="lgstyle-inverse">
							<td>Date</td>
							<td><a href="/hosts">Host</a></td>
							<td>Sensor</td>
							<td>Value</td>
						</thead>

					<% for(var i=0; i<data.length; i++) { %>
						<tr>
							<td><%= data[i].date %></td>
							<td><%= data[i].host %></td>
							<td><%= data[i].sensor %></td>
							<td><%= data[i].value %></td>
						</tr>
					<% } %>

					</table>
				</div>
			</div>	
      <% } %>
      
      <% if(hostsTable) { %>
      	<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<table class="table table-striped ">
						<thead class="lgstyle-inverse">
							<td>Host</td>
						</thead>

					<% for(var i=0; i<data.length; i++) { %>
						<tr>
							<td><%= data[i] %></td>
						</tr>
					<% } %>

					</table>
				</div>
			</div>	
      <% } %>
      
      <div class="row">
      <!-- footer-responsive -->
	<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-7050521248314797"
			 data-ad-slot="7800919864"
			 data-ad-format="auto">
	</ins>
  </div>
  

    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
